{
    "semi": true,
    "trailingComma": "es5",
    "tabWidth": 4,
    "printWidth": 120,
    "useTabs": false,
    "plugins": ["@trivago/prettier-plugin-sort-imports", "prettier-plugin-tailwindcss"],
    "importOrder": [
        "^(react/(.*)$)|^(react$)",
        "^(next/(.*)$)|^(next$)",
        "<THIRD_PARTY_MODULES>",
        "^types$",
        "^@/types/(.*)$",
        "^@/(.*)$",
        "^[./]"
    ],
    "importOrderSeparation": true,
    "importOrderSortSpecifiers": true,
    "tailwindFunctions": ["tv", "cva"],
    "importOrderParserPlugins": ["typescript", "jsx", "decorators-legacy"]
}
