@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #f0f6ff;
    --foreground: #17191c;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}

.mono {
    font-family: var(--font-geist-mono);
}
