@import 'tailwindcss';

@theme {
  --font-*: initial;
  --font-font1: sans-serif;
  --font-sans: sans-serif;

  --font-weight-*: initial;
  --font-weight-thin: 300;
  --font-weight-light: 400;
  --font-weight-normal: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
  --font-weight-extrabold: 800;

  --text-*: initial;
  --text-xs: 0.75rem;
  --text-sm: 0.875rem;
  --text-base: 1rem;
  --text-md: 1.125rem;
  --text-lg: 1.375rem;
  --text-xl: 1.625rem;
  --text-2xl: 2rem;
  --text-3xl: 2.375rem;
  --text-4xl: 3rem;
  --text-5xl: 4rem;

  --breakpoint-*: initial;
  --breakpoint-xs: 375px;
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1536px;

  --drop-shadow-card-lift:
    1px 1px 1px rgba(156, 164, 186, 0.12),
    2px 2px 3px rgba(156, 164, 186, 0.12),
    4px 4px 6px rgba(156, 164, 186, 0.14),
    9px 9px 14px rgba(156, 164, 186, 0.17);
  --drop-shadow-down-shadow: 0px 4px 4px rgba(59, 62, 103, 0.25);

  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-sponsor-gold: hsl(var(--sponsor-gold));
  --color-sponsor-tech: hsl(var(--sponsor-tech));
  --color-sponsor-silver: hsl(var(--sponsor-silver));
  --color-sponsor-community: hsl(var(--sponsor-community));

  --color-gray-10: hsl(var(--gray-010));
  --color-gray-20: hsl(var(--gray-020));
  --color-gray-50: hsl(var(--gray-050));
  --color-gray-100: hsl(var(--gray-100));
  --color-gray-150: hsl(var(--gray-150));
  --color-gray-200: hsl(var(--gray-200));
  --color-gray-250: hsl(var(--gray-250));
  --color-gray-300: hsl(var(--gray-300));
  --color-gray-400: hsl(var(--gray-400));
  --color-gray-500: hsl(var(--gray-500));
  --color-gray-600: hsl(var(--gray-600));
  --color-gray-700: hsl(var(--gray-700));
  --color-gray-800: hsl(var(--gray-800));
  --color-gray-900: hsl(var(--gray-900));

  --color-orange-20: hsl(var(--orange-020));
  --color-orange-50: hsl(var(--orange-050));
  --color-orange-100: hsl(var(--orange-100));
  --color-orange-150: hsl(var(--orange-150));
  --color-orange-200: hsl(var(--orange-200));
  --color-orange-300: hsl(var(--orange-300));
  --color-orange-400: hsl(var(--orange-400));
  --color-orange-500: hsl(var(--orange-500));
  --color-orange-600: hsl(var(--orange-600));
  --color-orange-700: hsl(var(--orange-700));
  --color-orange-750: hsl(var(--orange-750));
  --color-orange-800: hsl(var(--orange-800));
  --color-orange-900: hsl(var(--orange-900));
  --color-orange-brand: hsl(var(--orange-brand));

  --color-yellow-20: hsl(var(--yellow-020));
  --color-yellow-50: hsl(var(--yellow-050));
  --color-yellow-100: hsl(var(--yellow-100));
  --color-yellow-150: hsl(var(--yellow-150));
  --color-yellow-200: hsl(var(--yellow-200));
  --color-yellow-300: hsl(var(--yellow-300));
  --color-yellow-400: hsl(var(--yellow-400));
  --color-yellow-500: hsl(var(--yellow-500));
  --color-yellow-600: hsl(var(--yellow-600));
  --color-yellow-700: hsl(var(--yellow-700));
  --color-yellow-750: hsl(var(--yellow-750));
  --color-yellow-800: hsl(var(--yellow-800));
  --color-yellow-900: hsl(var(--yellow-900));
  --color-yellow-brand: hsl(var(--yellow-brand));

  --color-blue-20: hsl(var(--blue-020));
  --color-blue-50: hsl(var(--blue-050));
  --color-blue-100: hsl(var(--blue-100));
  --color-blue-150: hsl(var(--blue-150));
  --color-blue-200: hsl(var(--blue-200));
  --color-blue-300: hsl(var(--blue-300));
  --color-blue-400: hsl(var(--blue-400));
  --color-blue-500: hsl(var(--blue-500));
  --color-blue-600: hsl(var(--blue-600));
  --color-blue-700: hsl(var(--blue-700));
  --color-blue-750: hsl(var(--blue-750));
  --color-blue-800: hsl(var(--blue-800));
  --color-blue-900: hsl(var(--blue-900));
  --color-blue-brand: hsl(var(--blue-brand));

  --color-purple-20: hsl(var(--purple-020));
  --color-purple-50: hsl(var(--purple-050));
  --color-purple-100: hsl(var(--purple-100));
  --color-purple-150: hsl(var(--purple-150));
  --color-purple-200: hsl(var(--purple-200));
  --color-purple-300: hsl(var(--purple-300));
  --color-purple-400: hsl(var(--purple-400));
  --color-purple-500: hsl(var(--purple-500));
  --color-purple-600: hsl(var(--purple-600));
  --color-purple-700: hsl(var(--purple-700));
  --color-purple-750: hsl(var(--purple-750));
  --color-purple-800: hsl(var(--purple-800));
  --color-purple-900: hsl(var(--purple-900));
  --color-purple-brand: hsl(var(--purple-brand));

  --color-green-20: hsl(var(--green-020));
  --color-green-50: hsl(var(--green-050));
  --color-green-100: hsl(var(--green-100));
  --color-green-150: hsl(var(--green-150));
  --color-green-200: hsl(var(--green-200));
  --color-green-300: hsl(var(--green-300));
  --color-green-400: hsl(var(--green-400));
  --color-green-500: hsl(var(--green-500));
  --color-green-600: hsl(var(--green-600));
  --color-green-700: hsl(var(--green-700));
  --color-green-750: hsl(var(--green-750));
  --color-green-800: hsl(var(--green-800));
  --color-green-900: hsl(var(--green-900));
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

@utility responsive-body {
  /* 3 cols: empty_content_empty */
  @apply grid grid-cols-[auto_clamp(300px,80%,1100px)_auto];

  & > * {
    /* Constrain children of main to middle column */
    @apply col-start-2 col-end-3;
  }
}

@utility text-balance {
  text-wrap: balance;
}

@utility center-content {
  @apply flex items-center justify-center;
}

@utility hidden-scrollbar {
  scrollbar-width: none;
}

@utility mono {
  font-family: var(--font-geist-mono);
}

@utility responsive-fullwidth {
  /* Escape hatch to allow full-width 'breaking out' of the responsive-body grid layout */
  @apply col-start-1 col-end-4;
}

@utility animate-bounce {
  animation-name: bounce;
  animation-duration: 0.6s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@utility responsive-grid {
  grid-template-columns: repeat(auto-fit, minmax(150px, 150px));
}

@layer utilities {
  :root {
    --background: white;
    --foreground: #2e2b3b;

    /* sponsor color */
    --sponsor-gold: var(--yellow-brand);
    --sponsor-tech: var(--purple-150);
    --sponsor-silver: var(--gray-150);
    --sponsor-community: var(--green-150);

    /* Color primitives below */
    --gray-900: 250, 15%, 10%; /*hsla(250, 15%, 10%, 1)*/
    --gray-800: 250, 15%, 20%; /*hsla(250, 15%, 20%, 1)*/
    --gray-700: 250, 10%, 30%; /*hsla(250, 10%, 30%, 1)*/
    --gray-600: 250, 10%, 40%; /*hsla(250, 10%, 40%, 1)*/
    --gray-500: 250, 8%, 50%; /*hsla(250, 8%, 50%, 1)*/
    --gray-400: 250, 10%, 60%; /*hsla(250, 10%, 60%, 1)*/
    --gray-300: 250, 10%, 70%; /*hsla(250, 10%, 70%, 1)*/
    --gray-250: 250, 12%, 75%; /*hsla(250, 12%, 75%, 1)*/
    --gray-200: 250, 12%, 80%; /*hsla(250, 12%, 80%, 1)*/
    --gray-150: 251, 14%, 85%; /*hsla(251, 14%, 85%, 1)*/
    --gray-100: 250, 15%, 90%; /*hsla(250, 15%, 90%, 1)*/
    --gray-050: 250, 15%, 95%; /*hsla(250, 15%, 95%, 1)*/
    --gray-020: 250, 15%, 98%; /*hsla(250, 15%, 98%, 1)*/
    --gray-010: 250, 10%, 99%; /*hsla(250, 10%, 99%, 1)*/

    --blue-900: 217, 95%, 10%; /*hsla(217, 95%, 10%, 1)*/
    --blue-800: 217, 90%, 20%; /*hsla(217, 90%, 20%, 1)*/
    --blue-750: 217, 90%, 25%; /*hsla(217, 90%, 25%, 1)*/
    --blue-700: 217, 85%, 30%; /*hsla(217, 85%, 30%, 1)*/
    --blue-600: 217, 80%, 40%; /*hsla(217, 80%, 40%, 1)*/
    --blue-500: 217, 80%, 50%; /*hsla(217, 80%, 50%, 1)*/
    --blue-brand: 217, 100%, 61%; /*hsla(217, 100%, 61%, 1)*/
    --blue-400: 217, 100%, 61%; /*hsla(217, 100%, 61%, 1)*/
    --blue-300: 217, 85%, 70%; /*hsla(217, 85%, 70%, 1)*/
    --blue-200: 217, 85%, 80%; /*hsla(217, 85%, 80%, 1)*/
    --blue-150: 217, 90%, 85%; /*hsla(217, 90%, 85%, 1)*/
    --blue-100: 217, 90%, 90%; /*hsla(217, 90%, 90%, 1)*/
    --blue-050: 217, 100%, 95%; /*hsla(217, 100%, 95%, 1)*/
    --blue-020: 217, 100%, 98%; /*hsla(217, 100%, 98%, 1)*/

    --orange-900: 32, 100%, 10%; /*hsla(32, 100%, 10%, 1)*/
    --orange-800: 32, 100%, 20%; /*hsla(32, 100%, 20%, 1)*/
    --orange-750: 32, 100%, 25%; /*hsla(32, 100%, 25%, 1)*/
    --orange-700: 32, 95%, 30%; /*hsla(32, 95%, 30%, 1)*/
    --orange-600: 32, 90%, 40%; /*hsla(32, 90%, 40%, 1)*/
    --orange-brand: 32, 100%, 49%; /*hsla(32, 100%, 49%, 1)*/
    --orange-500: 32, 100%, 49%; /*hsla(32, 100%, 49%, 1)*/
    --orange-400: 32, 90%, 60%; /*hsla(32, 90%, 60%, 1)*/
    --orange-300: 32, 85%, 70%; /*hsla(32, 85%, 70%, 1)*/
    --orange-200: 32, 85%, 80%; /*hsla(32, 85%, 80%, 1)*/
    --orange-150: 32, 90%, 85%; /*hsla(32, 90%, 85%, 1)*/
    --orange-100: 32, 90%, 90%; /*hsla(32, 90%, 90%, 1)*/
    --orange-050: 32, 100%, 95%; /*hsla(32, 100%, 95%, 1)*/
    --orange-020: 32, 100%, 98%; /*hsla(32, 100%, 98%, 1)*/

    --yellow-900: 42, 100%, 10%; /*hsla(42, 100%, 10%, 1)*/
    --yellow-800: 42, 100%, 20%; /*hsla(42, 100%, 20%, 1)*/
    --yellow-750: 42, 100%, 25%; /*hsla(42, 100%, 25%, 1)*/
    --yellow-700: 42, 100%, 30%; /*hsla(42, 100%, 30%, 1)*/
    --yellow-600: 42, 100%, 40%; /*hsla(42, 100%, 40%, 1)*/
    --yellow-500: 42, 100%, 50%; /*hsla(42, 100%, 50%, 1)*/
    --yellow-400: 42, 100%, 60%; /*hsla(42, 100%, 60%, 1)*/
    --yellow-300: 42, 100%, 70%; /*hsla(42, 100%, 70%, 1)*/
    --yellow-brand: 42, 100%, 70%; /*hsla(42, 100%, 70%, 1)*/
    --yellow-200: 42, 100%, 80%; /*hsla(42, 100%, 80%, 1)*/
    --yellow-150: 42, 100%, 85%; /*hsla(42, 100%, 85%, 1)*/
    --yellow-100: 42, 100%, 90%; /*hsla(42, 100%, 90%, 1)*/
    --yellow-050: 42, 100%, 95%; /*hsla(42, 100%, 95%, 1)*/
    --yellow-020: 42, 100%, 98%; /*hsla(42, 100%, 98%, 1)*/

    --purple-900: 276, 95%, 10%; /*hsla(276, 95%, 10%, 1)*/
    --purple-800: 276, 90%, 20%; /*hsla(276, 90%, 20%, 1)*/
    --purple-750: 276, 90%, 25%; /*hsla(276, 90%, 25%, 1)*/
    --purple-700: 276, 85%, 30%; /*hsla(276, 85%, 30%, 1)*/
    --purple-600: 276, 91%, 38%; /*hsla(276, 91%, 38%, 1)*/
    --purple-brand: 276, 91%, 38%; /*hsla(276, 91%, 38%, 1)*/
    --purple-500: 276, 80%, 50%; /*hsla(276, 80%, 50%, 1)*/
    --purple-400: 276, 80%, 60%; /*hsla(276, 80%, 60%, 1)*/
    --purple-300: 276, 85%, 70%; /*hsla(276, 85%, 70%, 1)*/
    --purple-200: 276, 85%, 80%; /*hsla(276, 85%, 80%, 1)*/
    --purple-150: 276, 90%, 85%; /*hsla(276, 90%, 85%, 1)*/
    --purple-100: 276, 90%, 90%; /*hsla(276, 90%, 90%, 1)*/
    --purple-050: 276, 100%, 95%; /*hsla(276, 100%, 95%, 1)*/
    --purple-020: 276, 100%, 98%; /*hsla(276, 100%, 98%, 1)*/

    --green-900: 165, 80%, 10%; /*hsla(165, 80%, 10%, 1)*/
    --green-800: 165, 70%, 20%; /*hsla(165, 70%, 20%, 1)*/
    --green-750: 165, 70%, 25%; /*hsla(165, 70%, 25%, 1)*/
    --green-700: 165, 60%, 30%; /*hsla(165, 60%, 30%, 1)*/
    --green-600: 165, 60%, 40%; /*hsla(165, 60%, 40%, 1)*/
    --green-500: 165, 50%, 50%; /*hsla(165, 50%, 50%, 1)*/
    --green-400: 165, 50%, 60%; /*hsla(165, 50%, 60%, 1)*/
    --green-300: 165, 50%, 70%; /*hsla(165, 50%, 70%, 1)*/
    --green-200: 165, 60%, 80%; /*hsla(165, 60%, 80%, 1)*/
    --green-150: 165, 60%, 85%; /*hsla(165, 60%, 85%, 1)*/
    --green-100: 165, 70%, 90%; /*hsla(165, 70%, 90%, 1)*/
    --green-050: 165, 80%, 95%; /*hsla(165, 80%, 95%, 1)*/
    --green-020: 165, 80%, 98%; /*hsla(165, 80%, 98%, 1)*/
  }

  html {
    color: var(--foreground);
    background: var(--background);
    overflow-x: hidden;
  }

  body {
    font-family: Arial, Helvetica, sans-serif;
  }
}

@keyframes bounce {
    0% {
        scale: 0;
    }
    50% {
        scale: 1;
    }
    100% {
        scale: 0;
    }
}
